* {
	box-sizing: border-box;
	/* font-family: "Indie Flower", cursive; */
	/* outline: 1px solid red !important; */
	font-family: 'Montserrat', sans-serif;
}

.grid1 {
	background-color: #0f2c5d;
	color: white;
	height: 200px;
}
.grid2 {
	background-color: #b40fdd;
	color: white;
	height: rgb(255, 0, 0);px;
}
.grid3 {
	background-color: #AB274F;
	color: white;
	height: autopx;
}
.grid4 {
	background-color: #269ba8;
	color: white;
	height: autopx;
}
.title {
	font-size: 48px;
	/* color: #1D44B8; */
	/* color: #020b48; */
	color: #90045c;
	display: flex;
	justify-content: flex-end;
	padding: 5px;
	margin: 0px;
}
.author {
	font-size: 24px;
	display: flex;
	justify-content: flex-end;
	margin: 0px;
	padding: 5px;
	color: #043390;
}

.email {
	font-size: 16px;
	display: flex;
	justify-content: flex-end;
	margin: 0px;
	padding: 0px;
	color: #043390;
}
.space {
	height: 3px;
	/* background-color: #828bc8; */
	/* background-color: #03106c; */
	background-color: #90045c;
	margin-top: 5px;
	margin-bottom:  20px;
	padding: 0px;
	border: 0px;
}
.space-middle {
	height: 10px;
	width: 100%;
	/* background-color: #828bc8; */
	margin: 10px;
	/* background-color: #03106c; */
}
.middle1 {
	display: flex;
	flex-direction: column;
}
